.todo-list {
  padding: 0;
}

.todo {
  list-style: none;
}
.todo-text {
  width: 250px;
  margin-bottom: 20px;
}

.todo-checkbox:checked + .todo-text {
  text-decoration: line-through;
}

.add-todo{
  margin-top: 10px;
}

.hide {
  display: none;
}

button {
  background-color: #4CAF50; /* Green */
    border: bottom;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
